/****** General ******/

* {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #D9D9D9;
}

html, body, div, article, section, h1, h2, h3, p, a, ul, li {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.section-title {
    font-size: 1.375em;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
}

.fa-solid {
    color: var(--main-color);
}

/****** Header ******/

.main-header {
    width: 100%;
    height: 79px;
    margin-bottom: 30px;
}

.main-header .main-nav ul {
    display: flex;
    gap: 69px;
}

.main-header .main-nav ul img {
    display: flex;
    height: 19px;
    width: 61.09px;
    margin-left: -20px;
    margin-top: 30px;
}

.main-header .main-nav ul .accommodations-button {
    margin-left: auto;
}

.main-header .main-nav ul .activities-button {
    margin-right: -7.39px;
}

.main-header .main-nav ul li~li {
    margin-top: 16px;
}

.main-header .main-nav ul li~li a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 14px;
}

/****** Accommodation Search ******/

.accommodation-title {
    font-size: 1.375em;
    margin-bottom: 8px;
}

h1+p {
    margin-bottom: 35px;
}

/****** Search-bar ******/

.search-bar {
    display: flex;
    width: 375px;
    height: 47px;
    margin-bottom: 35px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    box-sizing: content-box;
}

.search-bar .localization-point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    flex-shrink: 0;
}

.search-bar .localization-point i {
    width: 14px;
    height: 18px;
    color: #000000;
}

.search-bar .search-text input {
    width: 195px;
    height: 100%;
    border: none;
}

.search-bar .search-button {
    width: 132px;
    height: 100%;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: bold;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    padding: 0px 16px;
    cursor: pointer;
}

.search-bar .search-button i {
    display: none;
}

/****** Filters ******/

.filters-container {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin-bottom: 35px;
    gap: 15px;
}

.filter-name {
    font-size: 1.125em;
}

.filter-title {    
    color: #000000;
    padding-left: 10px;
    font-size: 1.063em;
}

.filter {
    height: 100%;
    cursor: pointer;
}

.filters-container .fa-person {
    padding-right: 4.56px;
}

.filters-container .fa-fire {
    padding-right: 1.5px;
}

.filter>span {
    display: flex;
    align-items: center;
    height: 100%;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    color: #000000;
    padding: 4px 19px;
    box-sizing: border-box;
}

.filter>span:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display: flex;
    height: 24px;
    margin-bottom: 35px;
}

.info-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 45px;
}

.info-txt {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #000000;
    padding-left: 10px;
}

/****** Accommodations and Populars ******/

.accommodations-and-populars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.accommodations-and-populars section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-subtitle {
    font-size: 0.875em;
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Accommodations ******/

.accommodations {
    width: 65%;
    height: 100%;
    padding: 30px 0px 30px 0px;
}

.accommodations .section-title {
    margin-left: 30px;
    margin-bottom: 30px; 
    height: 26px;
}

.accommodations .card {
    width: 28.741%;
}

.accommodations-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.accommodations-cards img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 114px;
}

.accommodations-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 4px 10px 10px 10px;
}

.accommodations-cards .card-txt {
    display: flex;
    flex-direction: column;
}

.accommodations-cards .card-subtitle {
    padding: 8px 0px 8px 0px;
}

.accommodations-cards .card-rating {
    margin: 0px;
    height: 14.25px;
}

.show-more {
    font-size: 1.125em;
    margin: 30px 0px 0px 30px;
    padding: 0;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

/****** Populars ******/

.populars {
    width: 32%;
    height: 100%;
    padding: 30px 30px 33.5px 30px;
}

.populars-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.populars-title i {
    padding-top: 5px;
}

.populars-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populars-cards a {
    width: 100%;
    display: flex;
}

.populars-cards img {
    width: 33%;
    height: 134px;
    border-radius: 20px 0px 0px 20px;
}

.populars-cards .card-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.populars-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populars-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ******/

.activities {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin-bottom: 65px;
}

.activities .section-title {
    margin: 0px 0px 30px 30px;
    height: 30.02px;
}

.activities img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activities-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.activities-cards .card {
    background-color: #ffffff;
    width: 22.2%;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities .card-content {
    padding: 16px 20px 20px 19px;
}

/****** Footer ******/

.main-footer {
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
}

.main-footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33.33%;
    padding: 20px 0px 20px 20px;
}

.footer-titles {
    font-size: 1.125em;
    font-weight: bold;
}

/*************** Responsive Version ***************/

/****** Media Queries ******/

/* Large devices (larger than 1440px) */

@media (min-width: 1440.02px) {

    .accommodations {
        padding-bottom: 32.5px;
    }

    .populars {
        padding-bottom: 30px;
    }

    .populars-cards img {
        height: 136px;
    } 
}

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

/****** Header ******/

    .main-header .main-nav ul img {
        margin-left: 0;
    }

    .main-header .main-nav ul .activities-button {
        margin-right: 0.31px;
    }

/****** Filters ******/

    .filters-container {
        width: 100%;
        height: 91px;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0;
    }

    .filter {
        height: 50px;
        margin-top: 10px;
    }

    .filter-title {
        font-size: 1em;
    }

    .filter-name {
        width: 100%;
        text-align: start;
    }

    .info {
        display: flex;
        margin: 35px 0;
    }

/****** Accommodations and Populars ******/

    .accommodations-and-populars {
        flex-direction: column;
    }

/****** Accommodations ******/

    .accommodations {
        width: 100%;
    }

/****** Populars ******/

    .populars {
        width: 100%;
        margin-top: 50px;
        padding: 30px;
    }

    .populars-title {
        margin-bottom: 20px;
    }

    .populars-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populars-cards .card {
        width: 30%;
    }

    .populars-cards img {
        width: 33.37%;
        height: 136px;;
    }

    .populars-cards .card-title {
        font-size: 0.875em;
    }

    .populars-cards .card-subtitle {
        font-size: 0.813em;
    }

/****** Activities ******/

    .activities-cards {
        display: flex;
        gap: 30px;
    }

    .activities-cards .card {
        width: 20.94%;
    }

    .activities-cards .card img {
        width: 100%;
        height: 200px;
    }

    .activities-cards .card-content {
        height: 66px;
        padding: 16px 19px;
    }
} 

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .main-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        margin: 0 20px;
    }

/****** Header ******/

    .main-header {
        width: calc(100% + 40px);
        height: 115px;
        margin: 0 -20px 30px -20px;
    }    
    
    .main-header .main-nav ul {
        display: grid;
        border-collapse: collapse;     
        grid-template-rows: 49px 66px;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }

    .main-header .main-nav ul :first-child {
        grid-column: 1/3;
    }

    .main-header .main-nav ul img {
        margin: 30px auto 0 auto;
    }

    .main-header .main-nav ul .accommodations-button, .activities-button {
        margin: 30px 0 0 0;
        width: 100%;
    }

    .main-header .main-nav ul li~li {
        margin-top: 30px;
    }

    .main-header .main-nav ul li~li a {
        display: block;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 15px;
        text-align: center;
    }

    .main-header .main-nav ul li~li a:hover {
        color: var(--main-color);
        border-top: none;
        padding-top: 0;
        margin: 0;
        border-bottom: 2px solid var(--main-color);
    }

/****** Search Bar ******/

    .search-bar {
        justify-content: center;
        margin-bottom: 35px;
        width: 100%;
        height: 49px;
        margin: 0 auto;
    }

    .search-bar .localization-point {
        width: 50px;
        height: 100%;
        flex-shrink: 0;
    }

    .search-bar .search-text {
        width: 100%;
        height: 100%;
    }

    .search-bar .search-text input {
        width: 100%;
        height: 100%;
    }

    .search-bar .search-button span {
        display: none;
    }
    
    .search-bar .search-button {
        display: block;
        width: 49px;
        height: 100%;
        background-color: var(--main-color);
        border-radius: 15px;
        cursor: pointer;
    }

    .search-bar .search-button i {
        display: block;
        color: #ffffff;
    }

/****** Filters ******/

    .filters-container {
        justify-content: center;
        width: 335px;
        height: 161px;
        flex-wrap: wrap;
        margin: 35px auto;
        padding: 0;
        gap: 10px;
    }   

    .filter-name {
        width: 100%;
        text-align: start;
   }

    .filter {
        width: 162.5px;
        height: 50px;
        font-size: 0.875em;
    }

    .filter-title {
        font-size: 0.875em;
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        height: 100%;
    }

    .info-logo i {
        width: 24px;
        height: 24px;
        padding: 10px 10px;
    }

/****** Accommodations and Populars ******/

    .accommodations-and-populars {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .accommodations-and-populars section {
        border-radius: 0;
    }

/****** Populars ******/

    .populars {
        width: calc(100% + 40px);
        padding: 30px 20px;
        margin: 0 -20px 0 -20px;
    }

    .populars-title {
        margin-bottom: 15px;
    }

    .populars-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populars-cards .card {
        width: 100%;
    }

    .populars-cards .card img {
        height: 136px;
        width: 30%;
    }

    .populars-cards .card-rating {
        padding-bottom: 0;
    }

/****** Accommodations ******/

    .accommodations-and-populars .accommodations {
        background-color: #ffffff;
        margin: 35px 0;
        padding: 0;
    }

    .accommodations .section-title {
        margin: 0 0 15px 0;
    }

    .accommodations-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 15px;
    }

    .accommodations-cards .card {
        width: 100%;
    }

    .accommodations-cards :nth-child(1) {
        order: 1;
    }

    .accommodations-cards :nth-child(2) {
        order: 3;
    }

    .accommodations-cards :nth-child(3) {
        order: 2;
    }       

    .accommodations-cards :nth-child(4) {
        order: 2;
    }

    .accommodations-cards :nth-child(5) {
        order: 1;
    }

    .accommodations-cards :nth-child(6) {
        order: 2;
    }

    .show-more {
        margin: 15px 0 20px 0;
    }

/****** Activities ******/

    .activities-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
        gap: 15px;
    }

    .activities .section-title {
        margin: 0 0 30px 10px;
    }
    
    .activities-cards .card {
        width: 100%;
    }

    .activities-cards .card-content {
        height: 55px;
        padding: 16px 19px 20px 19px;
    }

    .activities-cards .card img {
        width: 100%;
        height: 141px;
    }

/****** Footer ******/

    .main-footer {
        width: calc(100% + 40px);
        display: flex;
        flex-direction: column;
        margin: 0 -20px;
        padding: 0 30px 30px 30px;
    }

    .main-footer ul {
        width: 100%;
        padding: 30px 0 0 0;
    }

    .main-footer ul~ul {
        padding: 50px 0 0 0;
    }
}

@media (max-width: 374.98px) {

    .filters-container {
        width: 100%;
    }

    .filter {
        width: 48.2%;
    }
}